
@{
    ViewData["Title"] = "ShowPermission";
    Layout = "~/Areas/ManagerArea/Views/Shared/_ManagerLayout.cshtml";
}




<link href="~/css/style.css" rel="stylesheet" />

<h2>İzin Tanımla</h2>
<div class="scrollmenu">
    <a href="#home">Genel</a>
    <a href="#news">Kişisel Bilgiler</a>
    <a asp-controller="Permission" asp-action="DefinePermission">İzin</a>
    <a href="#about">Ödemeler</a>
    <a href="#support">Diğer Bilgiler</a>
    <a href="#blog">Blog</a>
</div>

