@*@model AddPermissionVM*@
@model Permission
@{

    ViewData["Title"] = "AddPermission";
    IEnumerable<Permission> İzinTipleri = ViewData[("PermissionTypes")] as IEnumerable<Permission>;
}


<div class="container mb-3 mt-3">

    <h2 class="text-left" style="margin-bottom: 50px; margin-top:100px;"><b><strong>İzin Ekle</strong></b></h2>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <form asp-controller="Personnel" asp-action="AddPermission" method="post" enctype="multipart/form-data">

            @*<label>İzin Adı:</label><br>
            <input type="text" style="width:825px;height: 40px" asp-for="Name"></>
            <span asp-validation-for="Name" class="text-danger"></span>
            <br><br>*@

            <label>İzin Adı:</label><br>
            <input type="text" style="width:825px;height: 40px" asp-for="Description"></>
            <span asp-validation-for="Description" class="text-danger"></span>
            <br><br>

            <label>Başlangıç Tarihi:</label><br>
            <input type="date" min="@DateTime.Now.Date" id="datepickerId" style="width:825px;height: 40px" asp-for="StartedDate"></>
            <span asp-validation-for="StartedDate" class="text-danger"></span>
            <br><br>

            <label>Bitiş Tarihi:</label><br>
            <input type="date" id="datepickerId"  style="width:825px;height: 40px" asp-for="EndDate"></>
            <span asp-validation-for="EndDate"  class="text-danger"></span>
            <br><br>


            <label for="">İzin Tipi: </label><br>
            <select asp-for="permissionType" class="form-control" asp-items="@Html.GetEnumSelectList<PermissionType>()"></select>

            @*<select name="Permission" asp-for="permissionType">
          @foreach (var item in İzinTipleri)
           {
             <option value="@item.ID">@item.permissionType</option>
           }
        </select>*@

            <br><br>

            <button type="submit" value="Save">Gönder</button>

        </form>
    </div>
</div>

<script>

    datePickerId.max = new Date().toISOString().split("T")[0];


</script>