@using HRProject_NTier.CORE.Entities
@model Personnel


@{
    Layout = null;
    
}



<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Blend Login Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blend  Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="blender_login_form/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="blender_login_form/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>𝓣𝓮𝓬𝓱 𝓟𝓱𝓪𝓷𝓽𝓸𝓶𝓼</h1>
        <div class="main-w3lsrow">
            <!-- login form -->
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h2>Personel Girişi</h2>

                    <p style="color:darkred">@ViewBag.invalidManagerAccount</p>
                    <div class="login-agileits-top">
                        @foreach (var item in ViewBag.Personnels)
                        {

                        
                        <form asp-controller="Login" asp-action="PersonnelLogin" asp-route-id="@item.ID" method="post">

                            <p>Kullanıcı Adı </p>
                            <input type="text" class="name" name="username" required="" />
                            <p>Şifre</p>
                            <input type="password" class="password" name="password" required="" />
                            <label class="anim">
                                @*<input type="checkbox" class="checkbox">*@

                            </label>
                            <input type="submit" value="Login">
                        </form>
                        }
                    </div>
                    <div class="login-agileits-bottom">
                        <h6><a href="#"></a></h6>
                    </div>
                    <div class="login-agileits-bottom1">


                    </div>
                    <div class="social_icons agileinfo">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <a class="text-primary" asp-area="" asp-controller="home" asp-action="Index">Geri dön</a>
        </div>
        <!-- //copyright -->
    </div>
    <!-- //main -->
</body>
</html>