@model Tuple<List<Manager>, List<Personnel>, List<Permission>, List<Package>>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Areas/ManagerArea/Views/Shared/_ManagerLayout.cshtml";
    }

    <h1>Index</h1>

