@model HRProject_NTier.CORE.Entities.ManagerComment

@{
    ViewData["Title"] = "InsertManagerComment";
    Layout = "~/Areas/ManagerArea/Views/Shared/_ManagerLayout.cshtml";
}



<div class="row" style="margin-left:50px;margin-top:50px">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <form asp-action="InsertManagerComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">


                <textarea asp-for="Comment" name="Comment" id="editor1" rows="10" cols="80">
                
            </textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor 4
                    // instance, using default configuration.
                    CKEDITOR.replace('Comment');
                </script>



                <a class="text-danger">@Html.Raw(ViewBag.Exception)</a>


            </div>


            <div class="form-group">
                <input type="submit" value="Yorum Yap" class="btn btn-default" />
            </div>
            <div class="form-group">
                <br />
                <a class="btn btn-info" asp-controller="manager" asp-action="managerpanel">Geri dön</a>
            </div>

        </form>
    </div>
</div>



