
@{
    ViewData["Title"] = "uyelikAyarlari";
    Layout = "~/Areas/ManagerArea/Views/Shared/_ManagerLayout.cshtml";
}


@*https://localhost:44379/Manager/hesabiPasifeAl*@

<h2>Üyelik Ayarları</h2>
<head>
    <style>
        .btn1 {
            margin-left: 900px;
        }
    </style>
</head>

@* Manager/hesabiPasifeAl/id => id managerID ait olacak. Yönetici sisteme login olduğunda yöneticinin id'si buraya yazılacak.
    login işlemi yapılmadı için id dinamik gelmiyor.*@
<div>
    <a asp-controller="Manager" asp-action="hesabiPasifeAl" asp-route-id="2"> <button class="btn btn-success btn1">Hesabı Pasife Alma</button></a>

</div>

<div class="alert alert-primary" role="alert">
    @ViewData["mesaj"]
</div>
