<title>Tech Phantoms A.Ş</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<link href="~/assets/vendor/linearicons/style.css" rel="stylesheet" />
<link href="~/assets/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />

<!-- MAIN CSS -->
<link href="~/assets/css/main.css" rel="stylesheet" />

<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">

<link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
<link href="~/css/toastr.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<!--Metin Editörü olarak CKEditor 4 kullanılmıştır-->
<script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

<title>Tech Phantoms A.Ş</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<link href="~/assets/vendor/linearicons/style.css" rel="stylesheet" />
<link href="~/assets/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />

<!-- MAIN CSS -->
<link href="~/assets/css/main.css" rel="stylesheet" />

<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">

<link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
<link href="~/css/toastr.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<!--Metin Editörü olarak CKEditor 4 kullanılmıştır-->
<script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

