<!DOCTYPE html>
<html lang="en">


<head>

    <partial name="_HeadPartialView" />
    @*<link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/">*@
    <style>
        .logo {
            height: 35px;
        }

        .imgLogo {
            height: 3px;
            width: 40px;
        }
    </style>
</head>
<body>
    <div id="wrapper" style="margin-top:50px">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                @*<a href="index.html"><img src="~/assets/img/profile-bg.png" alt="Tech Phantoms" class="logo"></a>*@
                <p style="font-size:medium">𝓣𝓮𝓬𝓱 𝓟𝓱𝓪𝓷𝓽𝓸𝓶𝓼</p>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Basic Use</a></li>
                                    <li><a href="#">Working With Data</a></li>
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">Troubleshooting</a></li>
                                </ul>
                            </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><p>Menü </p> <span></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                                <li><a asp-controller="Manager" asp-action="uyelikAyarlari"><i class="lnr lnr-cog"></i> <span>ayarlar</span></a></li>
                                <li><a asp-controller="Login" asp-action="Logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div class="row">
            <div class="col-lg-2">
                <div id="sidebar-nav" class="sidebar">
                    <div class="sidebar-scroll">
                        <nav>
                            <ul class="nav">
                                <li><a asp-controller="Home" asp-action="Index" class="active"><i class="lnr lnr-home"></i> <span>Ana Sayfa</span></a></li>
                                <li><a asp-controller="Manager" asp-action="ListPersonnel" class=""><i class="fas fa-users"></i> <span>Çalışanlar</span></a></li>
                                @*<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>İzinler</span></a></li>*@
                                <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Raporlar</span></a></li>
                                <li><a asp-controller="Manager" asp-action="ShowCalendar"><i class="lnr lnr-alarm"></i> <span>Takvim</span></a></li>

                                <li>
                                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                                    <div id="subPages" class="collapse ">
                                        <ul class="nav">
                                            <li><a asp-area="ManagerArea" asp-controller="Manager" asp-action="ManagerPanel" class="">Profile</a></li>

                                            <li><a asp-area="ManagerArea" asp-controller="personnel" asp-action="personnelShow">Personel listesi</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a asp-controller="Manager" asp-action="ListActiveSpending" class=""><i class="lnr lnr-file-empty"><span>Harcama Talepleri</span></i></a></li>
                                <li><a asp-controller="Manager" asp-action="ListActivePermissions" class=""><i class="lnr lnr-dice"></i> <span>İzin Listesi</span></a></li>


                                @*<li><a asp-controller="Manager" asp-action="ShowUpComingEvent" class=""><i class="fas fa-birthday-cake"></i> <span>Yaklaşan Doğum Günleri</span></a></li>*@
                               
                                <li><a asp-controller="Manager" asp-action="ListPackage"><i class="lnr lnr-linearicons"></i> <span>Paket Bilgisi</span></a></li>
                                <li><a asp-controller="Manager" asp-action="uyelikAyarlari"><i class="lnr lnr-linearicons"></i> <span>Hesap Ayarları</span></a></li>
                                <li><a asp-controller="Manager" asp-action="ListPayment"><i class="fas fa-money-bill-alt"></i><span>Avanslar</span></a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- END LEFT SIDEBAR -->
            <!-- MAIN -->
            <div class="col-lg-10">
                <div class="row" style="margin-top:100px !important; margin-left:60px;">
                    @RenderBody()
                </div>
            </div>
        </div>

        <!-- END MAIN CONTENT -->
        <!--</div>-->
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer style="margin-top:200px">
            <div class="container-fluid">
                <p class="copyright">&copy; 2021 <a href="#" target="_blank">Tech Phantoms</a>.</p>
            </div>
        </footer>
    </div>
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/assets/scripts/klorofil-common.js"></script>

</body>
</html>
