<nav id="colorlib-main-nav" role="navigation">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
    <div class="js-fullheight colorlib-table">
        <div class="colorlib-table-cell js-fullheight">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Enter any key to search...">
                        <button type="submit" class="btn btn-primary"><i class="icon-search3"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="work.html">Work</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-area="" asp-action="LoginButton" asp-controller="Home">Login</a></li>
                        @*<li><a asp-area="ManagerArea" asp-controller="Login" asp-action="LoginForm">Yönetici Giriş</a></li>
        <li><a asp-area="PersonnelArea" asp-controller="Login" asp-action="LoginForm">Personel Giriş</a></li>*@
                       
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="head-title">Works</h2>
                    <a href="~/noah/images/work-1.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-1.jpg);">
                        <span><i class="icon-search3"></i></span>
                    </a>
                    <a href="images/work-2.jpg" class="gallery image-popup-link text-center" style="background-image: url( images/work-2.jpg);">
                        <span><i class="icon-search3"></i></span>
                    </a>
                    <a href="images/work-3.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-3.jpg);">
                        <span><i class="icon-search3"></i></span>
                    </a>
                    <a href="images/work-4.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/work-4.jpg);">
                        <span><i class="icon-search3"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>